body{
	background: url('http://bestfons.ru/_ph/24/985579237.jpg') ;
text-align: 400px;
}


.text{
	position:relative; 
    text-align: center; /* Выравниваем по центру */
    margin-top: 100px; 
    z-index: 1;

}

#textarea{
	width: 511px; 
	height: 381px; 
	font-size:12pt;
}


#frame{
	position:relative;
	text-align: center;
	top: -468px;
 	left: 0px;
 	z-index: 0;

}


#ART{
    
	background-size: contain;
	object-fit: contain;
	text-align: left; 
	padding:  0% 0% 0% 0%;  
	float: center;
	margin: 0% 5% 0% 0%; 
    width: 50px;
    height: 50px;
}

#buttonBlock{
	position:relative; 
    text-align: center; /* Выравниваем по центру */
    margin-top: 50px; 
    z-index: 1;
    top: -480px;
 	left: 0px;

}