body{
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpK_SzDBSb4eNQUVepiiEwbeXxCBQykTa0iiEZaH1ejvhSWUjIWg') ;
text-align: 400px;
}


#text	{
	text-align: 300px;
	font-weight: normal;
	font-family: comic sans NC;
	text-align: right;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpK_SzDBSb4eNQUVepiiEwbeXxCBQykTa0iiEZaH1ejvhSWUjIWg') ;

}