body{
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpK_SzDBSb4eNQUVepiiEwbeXxCBQykTa0iiEZaH1ejvhSWUjIWg') ;
text-align: 400px;
}


.text	{
	text-align: 300px;
	font-weight: normal;
	font-family: comic sans NC;
	text-align: right;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpK_SzDBSb4eNQUVepiiEwbeXxCBQykTa0iiEZaH1ejvhSWUjIWg') ;

}

#my {
background-color: red;
margin: none;   
	padding: 0%;  
	width: 750px;
	height: 525px;
	margin-right: 0%;
	border-radius: 0px;
	float: left;
	margin: 0% 5% 5% 0%; 

}