*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.conteiner{
	max-width: 1030px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header{
	
	height: 1080px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 110px;


}

.header_inner{
	text-align: center;
	width: 530px;
	height: 530px;
	border-radius: 50%;
	background-color: #fff;
	border: 10px solid #f4cf92;
	padding-top: 13px;
	padding-bottom: 160px;
	margin-left: 140px;

}

.header_name{
	padding-top: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 15px;
	color: #bf4200;
}

.phone{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 35px;
	margin-bottom: 40px;
	text-decoration: none;
	color: #000;
	display: inline-block;
}

.header_title{
  font-size: 50px;
  font-family: "Roboto", sans-serif;;
  color: rgb(31, 173, 38);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px 5px;
 
}

.header_sale{
	margin-top: 40px;
	margin-right: 20px;
}

.main{
	text-align: center;
	padding-top: 60px;
}

.main_title{
	margin-bottom: 60px;
	font-size: 41px;
	color: #d07a2d;
}

.main_text{
	font-size: 30px;
}

.main_text p{
	font-weight: 700;
}

.main_img{
	padding: 90px 0;
}

.project_name{
	font-weight: 700;
	font-size: 32px;
}

.project_size,
.project_area{
	font-size: 25px;
}

.project_price{
	color: #17753b;
	font-size: 25px;
}

.project_images_item{
	margin-top: 20px;
}


.project_images_item img{
	width: 100%;
}


.download{
	padding: 35px 0;
	background-color: #f1dfbc;
	text-align: center;
}

.download_link a{
 	display: inline-block;
 	text-decoration: none;
 	color: #fff;
 	border-bottom: 1px solid #fff;
 	font-size: 32px;
 	background-color: #17753b;
 	border: 5px solid #effd15;
 	padding: 23px 67px;

}

.project_title{
	margin-bottom: 110px;
	font-size: 41px;
	color: #d0662d;
	font-weight: 700;
}

.gallery_title{
	text-transform: uppercase;
	padding-top: 100px;
	padding-bottom: 40px;
	font-size: 41px;
	color: #d0662d;
	font-weight: 700;
}


.gallery_text{
	padding-bottom: 50px;
	font-size: 25px;
}

.gallery_inner{
	display: flex;
	flex-wrap: wrap;
}

.gallery_inner img{
	display: block;
}

.footer{
	text-align: center;
}

.footer .phone{
	font-weight: 700;
}

.footer_email{
	padding-top: 40px;
	padding-bottom: 150px;
	color: #2f8bc5;
	text-decoration: underline;
	font-size: 30px;
	font-weight: 30px;
	font-family: 'Lato', sans-serif;
	
}



@media(max-width: 00px){




}