body {
	color: #4d4d4d;
	font-family: "Circe", Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	overflow-x: hidden;



}

.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto	


}



.header-wrap{
		flex-wrap: wrap;
	-ms-flex-direction: column;
	        flex-direction: column;
	        justify-content: space-between;
	display: flex;
	margin-left:auto;
	margin-right: auto;
	
		width: 100%;
		height: 900px;
	
	z-index: 1111;

	overflow: hidden;
	text-align: center;

	background:  url("../img/bg1.png") no-repeat center top;
	opacity:1.5;
	background-size: cover;
}

.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;

	position: absolute;
	margin-left: 1360px; 
	margin-top: 53px;
	z-index: 1111;
}

.logo img{
height: 60px;
width: 65px;
}

.logo a{
	text-align: left;
	font-size: 20px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 100px;
	margin-top: 10px;
	
}


.logo1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;

	position: absolute;
	margin-left: 1360px; 
	margin-top: 53px;
	z-index: 1111;
}

.logo1 img{
height: 60px;
width: 65px;
}

.logo1 a{
	text-align: left;
	font-size: 20px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 100px;
	margin-top: 10px;
	
}









.about-header-wrap__text{
		flex-wrap: wrap;
	-ms-flex-direction: column;
	        flex-direction: column;
	display: flex;
	margin-left:auto;
	margin-right: auto;

	width: 100%;
	height: 350px;

}


.about-header-wrap__text2{
		flex-wrap: wrap;
	-ms-flex-direction: column;
	        flex-direction: column;
	display: flex;
	margin-left:auto;
	margin-right: auto;
	width: 100%;
	height: 300px;

}



.about-header-wrap__text3{
		flex-wrap: wrap;
	-ms-flex-direction: column;
	        flex-direction: column;
	display: flex;
	margin-left:auto;
	margin-right: auto;
	width: 100%;
	height: 250px;

}


.about-header-wrap__text h2{
	font-size: 40px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	margin-bottom: 0;
	margin-top: 90px;

}

.about-header-wrap__text h1{
	font-size: 112px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	margin-top: 10px;

}



.about-header-wrap__text2 h3{
		font-size: 40px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: 200;
	margin-top: 30px;
	
	color: #FFF;


}

.about-header_text_block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        justify-content: center;
	        margin-top: 20px;
}

.about-header_text{
	width: 490px;
	height: 200px;
	text-align: center;

}

.about-header_text p{

		font-size: 112px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	
	color: #FFF;
}

.about-header_text h4{
	    margin-top: 10px;

		font-size: 23px;
	font-family: "Circe", Arial, sans-serif;
   font-weight: normal;
	
	color: #FFF;
}

.about-header-wrap__text3 h5{
		font-size: 40px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: 300;
	margin-top: 50px;
	
	color: #FFF;


}



.btn_click{

	display: inline-block;
	vertical-align: middle;
	height: 50px;
	padding: 11px 90px 13px 90px;
	background-color: transparent;
	border: 2px solid;
	color: white;
	font-family: "Amatic SC", Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: 34px;
	border-color: transparent;
	background-color: red;
	font-weight: bold;
	letter-spacing: 0.03em;
	border-radius: 30px;


}

.btn_click--warning {
	

}

.btn_click:hover {
	
	text-decoration: none;
	border-color: #282828;
}




/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/



.sect2{

	width: 100%;
	height: 900px;

}





.sect2_main_L{
	width: 500px;

	height: 820px;
}



.sect_logo_t{
text-align: left;
	font-size: 32px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 10px;
	position: absolute;
	border-bottom: 2px solid silver;

	margin-top: 65px;
	margin-left: 30px;
	width: 390px;
}


.sect2_main{
display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;

}



.list_by_text{
	margin-top: 200px;
}

.list_by{
	margin-top: 135px;
	margin-left: 50px;
}



.list_by_text{
	
	display: flex;
	
	margin-top: 70px;
	list-style: none;
	width: 450px;
	

}


.list_by_text img{
	margin-right: 20px;

	
}



.list_by_text span{
	font-size: 26px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	color: blue;
	display: inline;
	width: 300px;


}

.list_by_text a{
	font-size: 24px;
	font-family: "Circe", Arial, sans-serif;
	color: #000;
	font-weight: normal;


}

.list_by_text p{
	font-size: 24px;
	font-family: "Circe", Arial, sans-serif;
	color: #000;
	font-weight: normal;

}





.sect2_main_R{
	width: 1100px;
	height: 900px;
	background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url("../img/bg2.png") no-repeat center top;
	opacity:1.5;
	background-size: cover;
	position: relative;
	z-index: 10;




}

.sect2_main_R_text{


	margin-top: 110px;
	border-top: 2px solid silver;
	border-right: 2px solid silver;
	width: 930px;
	height: 751px;
	margin-left: 100px;

}

.sect2_main_R_text_block{
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;

height: 100px;
width: 600px;
margin-left: 100px;
margin-top: 100px;
 list-style-type: none;

}


.sect2_main_R_text li{
	font-size: 34px;
	font-family: "Circe", Arial, sans-serif;
	color: #000;
	font-weight: 200;
	color: white;


}


.sect2_main_R_text a{
	font-size: 64px;
	font-family: "Circe", Arial, sans-serif;

	font-weight: bold;
	color: white;
		margin-top: -20px;
		margin-right: 15px;

}


.sect2_footer{
	position: absolute;
	width: 1600px;
	margin-top: -80px;
	height: 80px;
	background-color: #1067bd;
	z-index: 20;
}


.sect2_footer p{
	font-size: 36px;
	font-family: "Circe", Arial, sans-serif;
			color: white;
			margin-top: 20px;
			margin-left: 80px;
	
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect3{

	width: 100%;
	height: 900px;
	


}


.sect3_logo_t{
text-align: left;
	font-size: 32px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 10px;
	position: absolute;
	border-bottom: 2px solid silver;

	margin-top: 65px;
	margin-left: 30px;
	width: 780px;
}

.sect3_block{
	width: 100%;
	height: 100%;
	display: flex;
}

.sect3_main_L{
	height: 900px;
	width: 890px;

	position: relative;


}

.sect3_main_R{
	height: 900px;
	width: 710px;
	background: url("../img/bg3x.png") no-repeat center top;

	position: relative;
	
}

.sect3_main_L_hed {
	margin-top: 130px;
	padding-left: 30px;
	padding-top: 30px;
	height: 310px;
	width: 100%;
	background-color: #f2f2f2;
}


.sect3_main_L_hed h5{
		font-size: 35px;
		font-weight: bold;
		color: #000;
		width: 660px;

	
}

.sect3_main_L_hed a{
	font-weight: normal;
		width: 660px;

}

.sect3_main_L_list{
			font-size: 30px;
		font-weight: 700;
		color: #000;
			margin-top: 50px;
	margin-left: 30px;



}


.sect3_main_L_list li{
font-size: 30px;
margin-top: 20px;
margin-left: 20px;
}




.sect3_main_R{
 color: #fff;
 text-align: center;
}

.sect3_main_R_top{
	margin-top: 150px;
}

.sect3_main_R_top h6{
	font-size: 55px;
}

.sect3_main_R_top p{
	font-size: 24px;
}


.sect3_main_R_bot{
	margin-top: 320px;
}


.sect3_main_R_bot h6{
	font-size: 55px;
}

.sect3_main_R_bot p{
	font-size: 24px;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


.sect4{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
}


.logo4{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;

	position: absolute;
	margin-left: 1360px; 
	margin-top: 53px;
	z-index: 1111;
}

.logo4 img{
height: 60px;
width: 65px;
}

.logo4 a{
	text-align: left;
	font-size: 20px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: #1967bc;
	padding-bottom: 100px;
	margin-top: 10px;
	
}


.sect4_main_top{
	position: relative;
	display: flex;
	width: 100%;
	height: 430px;
	margin-top: 130px;
}


.list_by_text_sect4_R{

	color: #000;
	font-size: 30px;
	margin-left: 50px;
	width: 800px;
	padding-right: 20px;

}


.list_by_text_sect4_R_block{
	display: flex;
	margin-top: 20px;
	width: 800px;
}



.list_by_text_sect4_R_blockb{
	display: flex;
	margin-top: 20px;
	width: 100%;
}

.list_by_text_sect4_R_num{
	font-size: 20px;
	background-color: #1967bc;
	border: 2px solid #1967bc;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	padding-top: 8px;

}

.list_by_text_sect4_R_text{
	width: 700px;
	margin-left: 10px;

}

.list_by_text_sect4_R_textb{
	width: 100%;
	margin-left: 10px;

}

.list_by_text_sect4_R li{

	margin-top: 20px;

}

.list_by_text_sect4_R span{

	color: #1967bc;
	
	font-weight: bold;

}


.list_by_text_sect4_L{

	color: #000;
	font-size: 30px;
	margin-left: 0px;
		width: 800px;
		padding-right: 0px;

	


}

.list_by_text_sect4_L li{

	margin-top: 20px;

}

.list_by_text_sect4_L span{

	color: #1967bc;
	
	font-weight: bold;

}




.sect4_main_bot{
		height: 150px;
	text-align: left;
	font-size: 30px;
		padding-right: 20px;
			background-color: #f2f2f2;

}


.list_by_text_sect4_bot{

	margin-left: 50px;
	padding-top: 10px;

	color: #000;
	

}


.sect4_main_bot li{

	margin-top: 20px;

}

.sect4_main_bot span{

	color: #1967bc;
	
	font-weight: bold;

}



.sect4_main_bot2{
	width: 100%;
	height: 100px;
	text-align: center;

}

.sect4_main_bot2 p{
		font-weight: bold; 
		font-size: 30px;
		color: #000;
		margin-top: 10px;
}


.sect4_footer{
	width: 100%;
	height: 80px;
	text-align: center;
	border: none;
	background-color: #1967bc;


}
.sect4_footer p{
		font-weight: bold; 
		font-size: 30px;
		color: #fff;
		padding-top: 20px;
		

}






/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


.sect5{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
}


.sect5_block{
	display: flex; 

	height: 900px;
	
}


.sect5_block_bg{
	background: url("../img/bg42.png") no-repeat center top;

	 /*-webkit-clip-path: polygon( 0% 60%, 100% 90%, 100% 100%, 0% 100%);*/
          vertical-align: bottom;
          position: absolute;
          background-position: right bottom;
          width: 1600px;
          height: 400px;
          z-index: 1;
          margin-top: -400px;
}

.sect5_main_L{
	width: 800px;


} 

.sect5_main_L h6{
	padding-top: 60px;
	font-size: 40px;
	padding-bottom: 0px;
	text-transform: uppercase;
	color: #000;

} 


.sect5_main_R{
	width: 800px;
	border-left: 4px solid #c9c8c8;
	padding-left: 30px;

} 

.sect5_main_R h6{
	padding-top: 60px;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	
} 




.list_by_text_sect5{
	position: relative;
	margin-top: 30px;
	font-size: 30px;
	color: #000;
	width: 700px;
	padding-left: 40px;
	line-height: 40px;
	z-index: 1111;

}


.list_by_text_sect5_block{
	display: flex;
		margin-top: 20px;
}


.list_by_text_sect5_num{
	font-size: 20px;
	background-color: #1967bc;
	border: 2px solid #1967bc;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	padding-top: 0px;
	margin-right: 10px;
	margin-top: 4px;
}

.list_by_text_sect5_text{
	width: 600px;
}


.list_by_text_sect5 li{
	margin-top: 20px;

}

.list_by_text_sect5 ol{
	margin-top: 20px;

}

.sect5_main_R{
	width: 800px;

}




/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


.sect6{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
	
}

.sect6_logo_t{
text-align: left;
	font-size: 32px;
	font-family: "Circe", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 10px;
	position: absolute;
	border-bottom: 2px solid silver;

	margin-top: 65px;
	margin-left: 30px;
	width: 590px;
}


.sect6_top{
	margin-top: 130px;
	text-align: center;
	height: 280px;
	width: 1600px;
	background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url("../img/bg5.png") no-repeat center top;
	background-size: cover;
	 
	position: relative;
	font-size: 30px;
	color: #fff;

}

.sect6_top h6{
	padding-top: 80px;
	font-weight: bold;
}


.sect6_top p{
	margin-top: 20px;
		font-family: "Circe", Arial, sans-serif;
	font-weight: 200;
}

.sect6_block{
	margin-top: 90px;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        justify-content: center;


}


.sect6_line{
	position: absolute;
	border-right: 1px solid silver;
	height: 95px;
	z-index: 1000;
	width: 60px;
	margin-top: -95px;
}



.sect6_main{
	width: 450px;
	height: 400px;

	margin-right: 30px;
	position: relative;
	z-index: 100;
	

}

.sect6_step{
	font-size: 22px;
	color: #fff;
	background: #1967bc;
	width: 120px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: center;
	
}

.sect6_text{
	font-size: 28px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;
	margin-top: 20px;
	font-weight: 300;

}




/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect7{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
	
}

.sect7_top{
	width: 100%;
	height: 95px;
	margin-top: 130px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	background-color: #1967bc;
	color: #fff;
	padding-top: 25px;
}



.sect7_main_block{
	margin-top: 55px;
}

.sect7_main_first{
		display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        justify-content: center;
	        width: 1600px;
}

.sect7_main_second{
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	         width: 1600px;
	        justify-content: center;
	        margin-top: 20px;
}


.sect7_main{
	height: 270px;
	width: 340px;
	background-color: #f2f2f2;
	margin-right: 25px;
		text-align: center;

}

.sect7_main h5{
	font-size: 21px;
	color: #878787;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
		letter-spacing: 4px;

}

.sect7_main p{
	font-size: 96px;
		color: #1967bc;
		margin-top: 50px;
}

.sect7_main h6{
	font-size: 17px;
	color: #a4a4a4;
	margin-top: 20px;
	font-weight: 200;


}

.sect7_main_4{
	height: 270px;
	width: 340px;
	background-color: #f2f2f2;
		text-align: center;
}


.sect7_main_4 h5{
	font-size: 21px;
	color: #878787;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
		letter-spacing: 4px;

}

.sect7_main_4 p{
	font-size: 96px;
	color: #1967bc;
	margin-top: 60px;
}



.sect7_main_8{
	height: 270px;
	width: 340px;
	background-color: #f2f2f2;
		text-align: center;
}


.sect7_main_8 h5{
	font-size: 21px;
	color: #878787;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
	letter-spacing: 4px;

}

.sect7_main_8 p{
	font-size: 96px;
		color: #1967bc;
		margin-top: 60px;
}



.arrow_block1{
	position: absolute;
	width: 19px;
	height: 62px;
	background: url("../img/ar1.png") no-repeat center top;
	background-size: cover;
	margin-top: 30px;
	margin-left: 240px;
}

.arrow_block2{
	position: absolute;
	width: 73px;
	height: 18px;
	background: url("../img/ar3.png") no-repeat center top;
	background-size: cover;

	margin-top: 130px;
	margin-left: 315px;

}

.arrow_block3{

		position: absolute;
	width: 1126px;
	height: 84px;
	background: url("../img/ar2.png") no-repeat center top;
	background-size: cover;
		margin-top: 229px;
	margin-left: -930px;

}



/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect8{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
}



.sect8_top{
	width: 1470px;
	height: 140px;
	border: 1px solid #c9c8c8;
	margin-top: 145px;
	margin-left: 65px;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        justify-content: left;
}

.sect8_bitcoin p{
	font-size: 30px;
	background-color: #1967bc;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 300px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 200px;

}


.sect8_top_text{
 display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        
}


.sect8_top_text p{
	font-size: 56px;
	color: #1967bc;
	margin-top: 35px;
	margin-left: 30px;
	text-transform: uppercase;

}

.sect8_top_text a{
	font-size: 36px;
	color: #1967bc;
		margin-top: 45px;
		margin-left: 30px;

}


.sect8_mid{
	height: 270px;
	width: 100%;
	margin-top: 60px;
	position: relative;
}

.bgs8{
	position: absolute;
	background: url("../img/bgs8.png") no-repeat center top;
	background-size: cover;
	width: 753px;
	height: 149px;
	padding-right: 0px;
	margin-top: 35px;
	margin-left: 320px;
}
.sect8_mid1{
	margin-top: 0px;
	margin-left: 580px;
	font-size: 20px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;



}
.sect8_mid1 h6{
	font-weight: 400;
}

.sect8_mid1 p{
font-weight: bold;
}


.sect8_mid2{
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        
	        justify-content: left;
	        margin-top: 35px;
}


.sect8_mid21{
	margin-left: 80px;
	padding-top: 5px;
		font-size: 20px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;
}

.sect8_mid21 h6{
	font-weight: 400;
}

.sect8_mid21 p{
	font-weight: bold;
}



.sect8_mid22{
	margin-left: 760px;
			font-size: 20px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;
}


.sect8_mid22 h6{
	font-weight: 400;
}

.sect8_mid22 p{
 	font-weight: bold;
}

.sect8_mid3{
	margin-top: 25px;
	margin-left: 850px;
	font-size: 20px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;
}


.sect8_mid3 h6{
	font-weight: 400;
}

.sect8_mid3 p{
 	font-weight: bold;
}



.sect8_mid4{
		margin-top: 10px;
	margin-left: 535px;
		font-size: 20px;
	color: #000;
	font-family: "Circe", Arial, sans-serif;
}


.sect8_mid4 h6{
	font-weight: 400;
}

.sect8_mid4 p{
 	font-weight: bold;
}


.sect8_footer{
	width: 100%;
	height: 150px;
}

.sect8_footer p{
  	font-size: 25px;
  	color: #1967bc;
  	font-weight: bold;
}


.sect8_footer h6{
  	font-size: 25px;
  	color: #000;
  	font-weight: bold;
}


.sect8_footer_top{
 border: 1px solid #c9c8c8;
 width: 690px;
 height: 70px;
 text-align: center;
 padding-top: 20px;
 margin-left: 60px;

}

.sect8_footer_bot{
 margin-left: 60px;
 width: 690px;
 text-align: center;
 margin-top: 35px;
}

.sect8_footer_bot h6{
	font-size: 23px;

}

.sect8_footer_bot p{
	margin-top: 10px;
}


.sect8_ar86{
	position: absolute;
	margin-top: 30px;
	margin-left: 20px;
}
.sect8_ar87{
	position: absolute;
	margin-top: 30px;
	margin-left: 712px;
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect9{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;

}


.sect9_main{
		display: flex;
}

.sect9_L{
	margin-top: 150px;
	height: 900px;
	width: 680px;
}

.sect9_L1{
	display: flex;
	margin-bottom: 30px;
	margin-left: 20px;
}


.sect9_L1_num{
	font-size: 26px;
	background-color: #1967bc;
	border: 2px solid #1967bc;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	padding-top: 5px;

}



.sect9_L1_text{
	font-size: 26px;
	width: 400px;
	margin-left: 20px;
	color: #000;
}

.sect9_R{
	height: 900px;
	width: 980px;
	background: url("../img/bg8.png") no-repeat center top;
	background-size: cover;

}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect10{

	width: 100%;
	height: 900px;
	border: 2px solid transparent;
}


.sect10bg{
		background: url("../img/bg10.png") no-repeat center top;
	background-size: cover;
	width: 1600px;
	height: 900px;

}
.sect10_top{
	display: flex;
	justify-content: center;


	-ms-flex-direction: column;
	        flex-direction: column;
	font-size: 70px;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 300px;
	padding-top: 150px;
		font-family: "Circe", Arial, sans-serif;
	
}

.sect10_top_line{
	border-bottom: 4px solid #fff;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;


}


.sect10_mid{

	font-size: 45px;
	color: #fff;
	text-align: center;
	height: 300px;
	width: 100%;
	padding-top: 100px;
		font-family: "Circe", Arial, sans-serif;


}



.sect10_bot{
	font-size:39px;
	color: #fff;
	text-align: center;
	height: 300px;
	width: 100%;
	font-weight: 200;
		font-family: "Circe", Arial, sans-serif;

}

.sect10_bot p{
	padding-top: 40px;
}










































































@media(max-width: 767px){

.logo1{
	margin-left: 70%;
}

.logo img{
	display: none;
}

.wrapper {
	max-width: 767px;
	width: 100%;
	padding: 0 0px;
	margin: 0 auto;


}

.header{
	height: auto;
}


.about-header-wrap__text{
		padding-top: 30px;

}

.about-header-wrap__text p{
 font-size: 20px;
 width: 100%;
}

.about-header-wrap__text h1{
 font-size: 40px;
 width: 100%;
 margin-top: 30px;
}


.about-header_text{
	width: auto;
height: auto;
}


.about-header-wrap__text2 h3{
	font-size:20px;
}

.about-header_text h3{
font-size:10px;
}

.about-header_text p{
	font-size:30px;

}


.header_text h4{
	font-size: 10px;
}




/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/





.sect2{

	width: 100%;
	height: auto;

}


.sect2_main{
display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

}


.sect2_main_L{
	width: 100%;
}


.sect2_main_R{
	width: 100%;
}

.sect2_main_R_text{
	border: none;
	margin-left: 0px;
	width: 100%;
}


.sect2_main_R_text_block{
 margin-left:50px;
 width: 100%;

 }

.sect2_footer{
	width: 100%;
	height: auto;
	margin-left: 0;
	text-align: center;
	position: relative;
}

.sect2_footer p{
	width: 100%;
	height: auto;
	margin-left: 0;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

}


 /*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
.sect3{
	height: auto;
    width: 100%
}


.sect3_main_L{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.sect3_main_L_hed {
	margin-top: 130px;
	padding-left: 30px;
	padding-top: 30px;
	height: auto;
	width: 100%;

}


.sect3_main_L_hed h5{
		font-size: 35px;
		
		width: 100%;

	
}

.sect3_main_L_hed a{
	font-weight: normal;
		width: 100%;

}



.sect3_block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	         width: 100%
}

.sect3_main_R{
	width: 100%;
	height: auto;
}
.sect3_main_R_bot{
	margin-bottom: 300px;
}

 /*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect4{
	height: auto;
}

.sect4_main_top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	        	height: auto;
}


.list_by_text_sect4_R_block{
	width: 100%;
}


.list_by_text_sect4_R_text{
	width: 100%;
	height: auto;
}

.sect4_main_L{

}


.list_by_text_sect4_R{


	margin-left: 50px;
	width: 100%;
	padding-right: 100px;


}

.list_by_text_sect4_L{
		margin-left: 50px;
		width: 100%;
	padding-right: 100px;

}


.sect4_main_bot{
	margin-top: auto;
	height: auto;
}


.sect4_main_bot2{
	margin-top: auto;
		height: auto;

}

.sect4_footer{
	margin-top: auto;
		height: auto;
	
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


.sect5{
	height: 1800px;
	width: 100%;
}

.sect5_block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	        	height: auto;

}



.sect5_main_L{
	width: 100%;

}

.sect5_main_L h6{
	font-size: 30px;

}
.list_by_text_sect5_text{
	width: 100%;
}


.sect5_main_R{
	width: 100%;
	padding-left: 0;
}

.sect5_main_R h6{
	font-size: 30px;

}

.list_by_text_sect5{
	width: 100%;
}
.list_by_text_sect5_text{
	width: 80%;
}


.sect5_block_bg{
	position: relative;
	height: 900px;

}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect6{
	width: 100%;
	height: auto;
	margin-top: -200px;
}

.sect6_top{
	width: 100%;
}

.sect6_line{
	display: none;
}

.sect6_block{

		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	        	height: auto;

	        	margin-top: 0;
	        	padding-top: 0;

}

.sect6_main{
	margin-top: 20px;
	width: 100%;
	height: auto;
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect7{
	width: 100%;
	height: auto;
	border: 2px solid transparent;
}

.arrow_block1{
	display: none;
}

.arrow_block2{
	display: none;
}

.arrow_block3{
	display: none;
}

.sect7_top{
	height: auto;
}
.sect7_main_first{
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	          justify-content: center;
	        width: 100%;
}

.sect7_main_second{
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	         justify-content: center;
	        width: 100%;
	        margin-top: 0px;
}

.sect7_main{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


.sect7_main_4{
	margin-left: auto;
	margin-right: auto;
		margin-top: 10px;

}





.sect7_main_8{
	margin-left: auto;
	margin-right: auto;
		margin-top: 10px;

}



/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect8{
	width: 100%;
	height: auto;
}

.sect8_top{
			display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	         justify-content: center;
	         width: 100%;

}

.sect8_top{
	 width: 100%;

	height: auto;
		margin-left: 0px;
	margin-right: 0px;
}

.sect8_bitcoin p{
	font-size: 20px;
	margin-left: 0px;
		margin-top: 30px;
	margin-left: auto;
		margin-right: auto;
}

.sect8_top_text{
	margin-left: auto;
	margin-right: auto;
}

.sect8_top_text p{
	font-size: 30px;
	margin-left: 5px;
}


.sect8_top_text a{
	font-size: 30px;
		margin-top: 36px;
}

.bgs8{
	display: none;
}


.sect8_mid{
height: auto;

}

.sect8_mid1{
	margin-left: 0px;
		margin-bottom: 20px;
}

.sect8_mid2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    }

.sect8_mid21{
	margin-left: 0px;
	margin-bottom: 20px;
}


.sect8_mid22{
	margin-left: 0px;
		margin-bottom: 20px;
}

.sect8_mid3{
	margin-left: 0px;
		margin-bottom: 20px;
}

.sect8_mid4{
	margin-left: 0px;
		margin-bottom: 20px;
}


.sect8_footer_top{
	margin-top: 50px;
	width: 100%;
	margin-left: 0px;
}

.sect8_ar86{
	display: none;
}
.sect8_ar87{
	display: none;
}

.sect8_footer_bot{
		margin-top: 50px;
	width: 100%;
	margin-left: 0px;
	padding-top: 0px;

}

/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.sect9_R{
	display: none;
}


.sect9_L1{
	width: 100%;
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


.sect10{
width: 100%;
height: auto;
}

.sect10_top p{
	font-size: 50px;
}


.sect10_mid p{
	font-size: 40px;
}

.sect10_bot p{
		font-size: 30px;
}

.sect10bg{
	width: 100%;
}


.sect10_top{
	width: 100%;

}